# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# CelebA dataset
data/img_align_celeba/

# Training checkpoints
checkpoints/latest_checkpoint.pth
checkpoints/loss_history.pth

# Keep the best pretrained model
!checkpoints/best_model.pth

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# gitignore
.gitignore